{% extends 'website/base.html' %}
{% block title %} Friends {% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between m-2">
      <a class="float-start text-decoration-none" href="{% url 'home' %}">&#9754; Back</a>
      <h3><i>Friends</i></h3>
      <a href="{% url 'add_friends' %}" class="btn btn-primary"><i>Add Friends</i></a>
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      {% if friends %}
      {% for friend in friends %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <a href="#" class=" text-decoration-none">
            {% if friend.friend == request.user %}
            {{friend.user}}
            {% else %}
            {{friend.friend}}
            {% endif %}
          </a>
          <div>
            <a href="#" class="btn btn-outline-danger btn-sm"><i class='bx bx-x'></i></a>
            <a href="{% url 'chat' friend.chatroom.id %}" class="btn btn-outline-success btn-sm"><i class='bx bxs-chat'></i></a>
          </div>
        </div>
      </li>
      {% endfor %}
      {% else %}
      <li class="list-group-item">
        No Friends
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}