{% extends 'website/base.html' %}
{% block title %} Notifications {% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <div>
      <h3 class="text-center"><i>Notifications</i></h3>
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      {% if notifications %}
      {% for notification in notifications %}
      {% if notification.notification_type == "friend_request" %}
      <li class="list-group-item">
        <div class="row g-1 align-items-center">
          <div class="col text-start">
            <i class='bx bxs-user-account bx-sm' style="color: rgb(32, 176, 136);"></i>
          </div>
          <div class="col text-center">
            <a href="#" class="text-decoration-none">
              {% if notification.friend.user == request.user %}
              {{notification.friend.friend}} sent you a friend request
              {% else %}
              {{notification.friend.user}} sent you a friend request
              {% endif %}
            </a>
          </div>
          <div class="col text-end">
            <a href="{% url 'accept_friend' notification.friend.id notification.id %}" class="btn btn-success btn-sm"><i
                class='bx bxs-user-check'></i></a>
            <a href="{% url 'decline_friend' notification.friend.id notification.id %}" class="btn btn-danger btn-sm"><i
                class='bx bxs-user-x'></i></a>
          </div>
        </div>
      </li>
      {% endif %}
      {% if notification.notification_type == "friend_accepted" %}
      <li class="list-group-item">
        <div class="row g-1 align-items-center">
          <div class="col text-start">
            <i class='bx bxs-user-account bx-sm' style="color: rgb(163, 22, 163);"></i>
          </div>
          <div class="col text-center">
            <a href="#" class="text-decoration-none">
              {% if notification.friend.user == request.user %}
              {{notification.friend.friend}} accepted your friend request
              {% else %}
              {{notification.friend.user}} accepted your friend request
              {% endif %}
            </a>
          </div>
          <div class="col text-end">
            <a href="{% url 'checked_notification' notification.id %}" class="btn btn-outline-primary btn-sm"><i
                class='bx bxs-user-check'></i></a>
          </div>
        </div>
      </li>
      {% endif %}
      {% if notification.notification_type == "friend_rejected" %}
      <li class="list-group-item">
        <div class="row g-1 align-items-center">
          <div class="col text-start">
            <i class='bx bxs-user-account bx-sm'></i>
          </div>
          <div class="col text-center">
            <a href="#" class="text-decoration-none">
              {% if notification.friend.user == request.user %}
              {{notification.friend.friend}} rejected your friend request
              {% else %}
              {{notification.friend.user}} rejected your friend request
              {% endif %}
            </a>
          </div>
          <div class="col text-end">
            <a href="{% url 'checked_notification' notification.id %}" class="btn btn-danger btn-sm"><i
                class='bx bxs-user-x'></i></a>
          </div>
        </div>
      </li>
      {% endif %}
      {% if notification.notification_type == "comment_received" %}
      <li class="list-group-item">
        <div class="row g-1 align-items-center">
          <div class="col text-start">
            <i class='bx bxs-comment-detail bx-sm' style="color: rgb(18, 156, 18);"></i>
          </div>
          <div class="col text-center">
            <a href="#" class="text-decoration-none">{{notification.comment.author}} commented on your post</a>
          </div>
          <div class="col text-end">
            <a href="{% url 'checked_notification' notification.id %}" class="btn btn-outline-primary btn-sm"><i
                class='bx bx-check-circle'></i></a>
          </div>
        </div>
      </li>
      {% endif %}
      {% if notification.notification_type == "like_received" %}
      <li class="list-group-item">
        <div class="row g-1 align-items-center">
          <div class="col text-start">
            <i class='bx bxs-like bx-sm' style="color: rgb(26, 113, 180);"></i>
          </div>
          <div class="col text-center">
            <a href="#" class="text-decoration-none">{{notification.like.user}} liked your post</a>
          </div>
          <div class="col text-end">
            <a href="{% url 'checked_notification' notification.id %}" class="btn btn-outline-primary btn-sm"><i
                class='bx bx-check-circle'></i></a>
          </div>
        </div>
      </li>
      {% endif %}
      {% if notification.notification_type == "dislike_received" %}
      <li class="list-group-item">
        <div class="row g-1 align-items-center">
          <div class="col text-start">
            <i class='bx bxs-dislike bx-sm' style="color: rgb(236, 44, 44);"></i>
          </div>
          <div class="col text-center">
            <a href="#" class="text-decoration-none">{{notification.dislike.user}} disliked your post</a>
          </div>
          <div class="col text-end">
            <a href="{% url 'checked_notification' notification.id %}" class="btn btn-outline-primary btn-sm"><i
                class='bx bx-check-circle'></i></a>
          </div>
        </div>
      </li>
      {% endif %}
      {% endfor %}
      {% else %}
      <li class="list-group-item">
        No Notifications
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}