{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a href="#" class="navbar-brand"><img src="{% static 'website/logo.png' %}"
          style="width: 40px; height: auto;"></a>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post' %}">New Post</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'friends' %}" class="nav-link">Friends</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'notifications' %}" class="nav-link">Notifications</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div>
      <h5 class="navbar-brand">Welcome {{request.user}}</h5>
    </div>
    {% if user.is_authenticated %}
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search Friend" aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    {% endif %}
  </div>
</nav>