{% extends 'website/base.html' %}
{% block title %} login {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
  <div class="card-header">
    Password Reset
  </div>
  <div class="card-body">
    <h5 class="card-title">Read the content below</h5>
    <p class="card-text">Your password has been successfully reset. You can now log in using your new password. If you
      have any issues logging in, please contact customer support for assistance.</p>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <a href="{% url 'login' %}" class="btn btn-primary text-center">Go somewhere</a>
  </div>
</div>
{% endblock %}